<div ng-app="fucknews" class="container" ng-controller="user">
  <p><%=  name %></p>
  <p><%=  education %></p>
  <p><%=  job %></p>
  <p><%=  email %></p>
  <p><%=  sex %></p>
  <a href="/reports/show/user/<%=id%>" > Reported newses</a>
  <a href="/reason/show/user/<%=id%>"> reasoned newses</a>
  <a href="/comments/show/user/<%=id%>"> commented newses</a>
</div>
